<!DOCTYPE html>
<html>

<head>
	<title>Aggiungi nuova partita</title>
</head>

<body>
	<h1>Registra nuova partita - <span th:text="${torneo.nome}"></span></h1>
	<form th:action="@{/admin/tornei/{id}/partite(id=${torneo.id})" method="post">

		<label>Data e ora:
			<input type="datetime-local" name="dataOra" required />
		</label><br />
		<label>Luogo:
			<input type="text" name="luogo" required />
		</label><br />

		<label>Squadra casa:
			<select name="squadraHome" required>
				<option th:each="s : ${squadre}" th:value="${s.id}" th:text="${s.nome}"></option>
			</select>
		</label><br />
		<label>Squadra ospite:
			<select name="squadraAwayId" required>
				<option th:each="s : ${squadre}" th:value="${s.id}" th:text="${s.nome}"></option>
			</select>
		</label><br />
		<label>Arbitro:
			<select name="arbitroId">
				<option value="">-- Nessuno --</option>
				<option th:each="a : ${arbitri}" th:value="${a.id}" th:text="${a.nome} + ' ' + ${a.cognome}"></option>
			</select>
		</label><br />
		<button type="submit">Registra partita</button>
		<a th:href="@{/tornei/{id}/calendario(id=${torneo.id})}">Annulla</a>
	</form>
	</form>
</body>

</html>